body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    /*display: flex;*/
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
    clear: both;
    display: block;
}

.navbar-menu span {
    float: right;
    margin-left: 5rem;
}

.fa-playstation {
    font-size: 1.8rem;
}

.footer {

    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.footer i {
    margin-left: 4rem;
}

.container-body {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*clear: both;*/
    /*display: block;*/


}

.box {

    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    width: 30rem;
    height: 30rem;
    background: rgb(255,86,95);
    background: linear-gradient(0deg, rgba(255,86,95,1) 0%, rgba(246,88,163,1) 100%);

    border-radius: 2rem 0 0 2rem;
}

.controller-img {
    float: right;
    position: absolute;
    width: 40rem;
    margin-top: 5rem;
    margin-left: -22rem;
}
.body-img{
    float: right;
}
.body-titles{
    display: inline-block;
    margin-top: 5rem;
    line-height: 1rem;
    margin-left: 1rem;
}.title-heads{
     font-weight: bold;
     font-size: 4rem;
 }
 .title-box{
     background: rgb(255,86,95);
     background: linear-gradient(0deg, rgba(255,86,95,1) 0%, rgba(246,88,163,1) 100%);
     display: inline-block;
     width: 1rem;
     height: 14rem;
 }
