.pricing-container {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.pricing-header {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.header-text {
    display: inline-block;
    font-weight: bold;
    color: #673AB7;
    margin-bottom: 1rem;
}

.head-text {
    margin-top: 0;
    font-weight: 100;
    font-size: 1.2rem;
    color: #BDBDBD;
    margin-bottom: 5rem;
}

.pricing-cycle {
    margin-left: 200px;
}

.btn {
    font-size: 1.2rem;
    padding: 0.9rem 2rem;
    border: 0;
    outline: 0;
}

.rounded-btn {
    border-radius: 2rem;
}

.primary-btn {
    background-color: #673AB7;
    color: white;
}

.secondary-btn {
    border-radius: 2rem;
    background-color: #F5F5F5;
    color: #673AB7;
}

.range-input {

}

.pricing-plans {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;

}

.pricing-cards {
    width: 18rem;
    border: 1px solid #EEEEEE;
    border-radius: 5%;
    margin-left: 1rem;
}

.popular-card {
    background-color: #673AB7;
}

.pricing-card-content {
    margin-left: 1rem;
    padding: 2rem;
}

.pricing-card-body {
    margin-top: 2rem;
}

.offer-option {
    margin-top: 0.7rem;
    display: flex;
}

.card-btn {
    margin-top: 1em;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border: 1px solid #673AB7;
    outline: 0;
}

.card-btn-rounded {
    border-radius: 0.3rem;
}

.card-primary-btn {
    background-color: white;
    color: #673AB7;

}
.card-popular-btn{
    background-color: #B39DDB;
}

.secondary-btn {
    border-radius: 2rem;
    background-color: #F5F5F5;
    color: #673AB7;
}

.offer-option-primary-icon {
    color: #757575;
}

.popular-option-icon {
    color: white;
}

.popular-option-text-color {
    color: white;
}
.primary-text-color{
    color: #757575;
}

.offer-option-text {
    margin-left: 5px;
    font-weight: 400;
}