body{
    font-family: 'Open Sans', sans-serif;
}
.main_container{
    width: 800px;
    margin: auto;
    text-align: center;
}
.main_container h1{
    text-align: left;
    /*font-weight: 700;*/
}
.main_container p:first-of-type{
    color: black;
    font-size: 14px;
    text-align: left;
}
.main_container p{
    color: grey;
    font-size: 14px;
    text-align: left;
}
.divider{
    border: 1px solid grey;
    margin: 5px 0;
    color: grey;
}
.icon_style{
    color: #424242;
    background-color: #F5F5F5;
    padding: 5px;
    border-radius: 3px;
    display: inline-flex;
    width: 30%;
}
.social_style{

    color: #fff;
    padding: 5px;
    border-radius: 3px;
    display: inline-flex;
    width: 14.95%;
    height: 22px;
}
#avatar{
    border-radius: 100px;
    width: 60px;
    float: left;
    margin-left: 40px;
}
#about_box{
    flex-direction: row;
    background-color: #E0E0E0;
}
#cover{
    width: 800px;
}
#about_text{
    text-align: left;
    margin-left: 10px;
}
.about_container{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 700px){
    #about_box{
        /*background-color: red;*/
    }
    .main_container{
        width: 500px;
        margin: auto;
        text-align: center;
    }
    .social_style{

        color: #fff;
        padding: 5px;
        border-radius: 3px;
        display: inline-flex;
        width: 29.9%;
        height: 22px;
    }
    .icon_style{
        width: 100%;
        display: block;
    }

    #cover{
        width: 500px;
    }

    /*sda*/
    #about_text{
        display: block;
        text-align: center;
        margin-left: 10px;
        margin-top: 5px;
    }
    .about_container{
        display: inline-grid;
        align-items: center;
    }
    #avatar{
        margin-left: 225px;
    }
    #about_box{
        flex-direction: row-reverse;
        /*background-color: red;*/
    }

}